.Controls {
  margin: 30px;
  text-align: center;
}

.Controls section {
  margin-bottom: 10px;
}

.Controls input {
  width: 50%;
  font-size: 16px;
  line-height: 2;
  text-align: center;
  border: none;
  border-bottom: 1px solid #aaa;
  outline: 0;
}
