.Sort {
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
  height: 300px;
}

.item {
  position: relative;
  flex-basis: 15px;
  text-align: center;
}

.pillar {
  background-color: #f00;
  transition: height .5s ease-in-out;
}

.index {
  font-size: 8px;
}

.current .pillar {
  background-color: #0f0;
}

.item.target:after {
  position: absolute;
  left: 25%;
  top: 100%;
  content: '\2191';
}

.note {
  margin-top: 15px;
}
