.VisualArray {
  float: left;
  padding: 30px;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.item {
  flex-basis: 10px;
  background-color: #f00;
}

.current {
  background-color: #0f0;
}

.target {
  position: relative;
}

.target:after {
  position: absolute;
  left: 0;
  top: 100%;
  content: '\2191';
}
